.ptbWrapper {
    position: relative;
}

.ptbTable {
    display: table;
    border-collapse: collapse;
    border-spacing: 1px;
}

.ruleCell {
    line-height: 0px;
    border-spacing: 10px;
    border-bottom: 1px solid #666;
}

.lineCell {
    width: 2.5em;
    height: 1.25em;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.timeCell {
    width: 1em;
}

.delayTimeCell {
    font-size: 16px;
    padding-left: 3px;
    padding-right: 5px;
    width: 1.1em;
    text-align: left;
    white-space: nowrap;
}

.directionCell {
    max-width: 20ch;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    white-space:nowrap;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marqueeStop {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.centeredTd {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.noPadding {
    padding: 0px;
}

.ellipsis {
    position: absolute;
    background-color: #F414A0;
    width: 300px;
    height: 100px;
    border: 2px;
    border-radius: 150px;
}

.sbahnsign {
    color: #FFFFFF;
    text-align: center;
    width: 2.5em;
    height: 1.25em;
    position: relative;
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border-radius: 1.25em;
}

.ubahnsign {
    color: #FFFFFF;
    text-align: center;
    width: 2.5em;
    height: 1.25em;
    position: relative;
}

.tramsign {
    color: #FFFFFF;
    text-align: center;
    width: 2.5em;
    height: 1.25em;
    background: #BE1414;
    position: relative;
}

.bussign {
    color: #FFFFFF;
    text-align: center;
    width: 2.5em;
    height: 1.25em;
    position: relative;
}

.dbsign {
    color: #FFFFFF;
    text-align: center;
    width: 2.5em;
    height: 1.25em;
    background: #BE1414;
    position: relative;
}


