.ptb-wrapper {
  position: relative;
}

.ptb-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 1px;
}

.ptb-rule-cell {
  line-height: 0;
  border-spacing: 10px;
  border-bottom: 1px dotted #666;
}

.ptb-line-cell {
  width: 2.5em;
  height: 1.25em;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.ptb-time-cell {
  width: 1em;
}

.ptb-delay-time-cell {
  font-size: 16px;
  padding-left: 3px;
  padding-right: 5px;
  width: 1.1em;
  text-align: left;
  white-space: nowrap;
}

.ptb-direction-cell {
  max-width: 22ch;
}

.ptb-error-cell {
  max-width: 28ch;
  word-wrap: break-word;
}

.ptb-cancelled {
  text-decoration: line-through;
}

.ptb-marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.ptb-marquee span {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  text-indent: 0;
  animation: ptb-marquee 15s linear infinite;
}

@keyframes ptb-marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.ptb-centered-td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.ptb-no-padding {
  padding: 0;
}

.ptb-sbahnsign {
  color: #fff;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  position: relative;
  border-radius: 1.25em;
}

.ptb-ubahnsign {
  color: #fff;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  position: relative;
}

.ptb-tramsign {
  color: #fff;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  background: #be1414;
  position: relative;
}

.ptb-bussign {
  color: #fff;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  position: relative;
}

.ptb-dbsign {
  color: #fff;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  background: #be1414;
  position: relative;
}

.ptb-locsign {
  color: #4b2b1f;
  text-align: center;
  width: 2.5em;
  height: 1.25em;
  position: relative;
}

.ptb-expresssign {
  color: #b4b4b4;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width: 2.5em;
  height: 1.25em;
  position: relative;
}

.ptb-issue-div {
  color: var(--color-text-dimmed);
  font-size: var(--font-size-xsmall);
  font-style: italic;
}
